.checkout-item
{
    width: 100%;
    display: flex;
    min-height: 100px;
    border-bottom:1px solid darkgray;
    padding:15px 0px;
    font-size: 20px;
    align-items: center;
    
    .image-container
    {
        width: 23%;
        padding-right: 15px;
        margin:5px 0px 5px;
        img
        {
            height:100%;
            width: 100%;
        }
    }

    .name,
    .quantity,
    .price
    {
        width: 23%;
    }

    .quantity{
        display: flex;
        justify-content: center;
        .arrow
        {
            margin-top:-1px;
            cursor: pointer;
        }
        .value
        {
            margin: 0 10px;
        }
    }
    .remove-button
    {
        font-size:24px;
        width: 8%;
        padding: 12px;
        cursor: pointer;
    }
}